@page
@model MovieGallery.Pages.LaureatesModel
@{
    ViewData["Title"] = "Laureates";
    List<MovieGallery.Laureate> laureates = (List<MovieGallery.Laureate>)ViewData["Laureates"];
}
<h3>Nobel Laureates from India</h3>
<table class="table table-striped table-light">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Born City</th>
            <th>Date of Birth</th>
            <th>Year of Winning</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var laureate in laureates)
            {
                <tr>
                    <td>@laureate.Firstname</td>
                    <td>@laureate.Surname</td>
                    <td>@laureate.BornCity</td>
                    <td>@laureate.Born</td>

                    @foreach (var prizes in laureate.Prizes)
                    {
                        <td>@prizes.Year</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>